In [4]:
x = 10
y= 5
operatorer = [lambda x,y: x+y, lambda x,y: x-y, lambda x,y: x*y, lambda x,y: x/y]

for o in operatorer:
    print(o(x,y))

15
5
50
2.0

In [15]:
def doble(x):
    return 2*x

liste = [1,2,3,4,5]

print(list(map(doble, liste)))

[2, 4, 6, 8, 10]

In [42]:
f"{1 * 4 = }"

'1 * 4 = 4'

In [25]:
fortegnelse1 = {}
fortegnelse2 = {"INFO132": "Informasjonsteknologi", "MAT111": "Grunnkurs matematikk", "ITØK101": "Mikroøkonomi"}

print(fortegnelse1 | fortegnelse2)

{'INFO132': 'Informasjonsteknologi', 'MAT111': 'Grunnkurs matematikk', 'ITØK101': 'Mikroøkonomi'}

In [35]:
print('1'+'%5.3f' % 5, sep="", end="")

15.000

In [40]:
print(type(2.1))

<class 'float'>

In [46]:
sekunder = 3661


timer = sekunder // 60
minutter = (sekunder - timer * 60) / 3600

print(timer,minutter,sekunder)

61 0 61

In [1]:
def f(x):
    return lambda y: x*y
print(f('3')(3))

333

In [6]:
def bytt_om(x, y):
    x, y = y, x
    return x, y

x, y = 5, 2
x, y = bytt_om(x, y)

5 2
2 5

In [7]:
norsk={1:'en', 2:'to', 3:'tre', 4:'fire', 5:'fem', 6:'seks', 7:'sju', 8:'åtte', 9:'ni', 10:'ti'}
engelsk={1:'one', 2:'two', 3:'three', 4:'four', 5:'five', 6:'six', 7:'seven', 8:'eight', 9:'nine', 10:'ten'}
tysk={1:'eins', 2:'zwei', 3:'drei', 4:'vier', 5:'funf', 6:'sechs', 7:'sieben', 8:'acht', 9:'neun', 10:'zehn'}

#Definerer en funksjon 'oversett' med parametrene: input, fra_språk, til_språk
def oversett(input, fra_språk, til_språk):
    # itererer gjennom alle nøkkel:verdi par i fortegnelsen til språket man vil oversette fra-
    for nøkkel, verdi in fra_språk.items():
        #dersom verdien er lik input-verdien vi søker etter
        if verdi == input:
            #retuner verdien til nøkkelen i språket man vil oversette til med samme verdi
            return til_språk[nøkkel]

oversett('funf',tysk, norsk)

'fem'

In [11]:
norsk={1:'en', 2:'to', 3:'tre', 4:'fire', 5:'fem', 6:'seks', 7:'sju', 8:'åtte', 9:'ni', 10:'ti'}
engelsk={1:'one', 2:'two', 3:'three', 4:'four', 5:'five', 6:'six', 7:'seven', 8:'eight', 9:'nine', 10:'ten'}
tysk={1:'eins', 2:'zwei', 3:'drei', 4:'vier', 5:'funf', 6:'sechs', 7:'sieben', 8:'acht', 9:'neun', 10:'zehn'}

#definerer ein funksjon som tar inn liste av fortegnelser
def tallgloser(liste):
    #for-løkke som kjører 10 ganger (fra 0 til 9)
    for i in range(10):
        #printer ut verdiene linje for linje
        #første del printer ut tallet i+1, +1 pga vil printe ut 1 til 10 ikkje 0 til 9)
        #listebygger som lager liste av verdiene med index i+1 i alle listene (pga verdiene i listene er fra 1 til 10). 
        # * for at listen skal bli printet ut som elementene i listen og ikke selve listen.
        #sep=" " for å få mellomrom mellom verdiene.
        print(i+1, *[x[i+1] for x in liste], sep=" ")

tallgloser([norsk, engelsk, tysk])

1 en one eins
2 to two zwei
3 tre three drei
4 fire four vier
5 fem five funf
6 seks six sechs
7 sju seven sieben
8 åtte eight acht
9 ni nine neun
10 ti ten zehn

In [21]:
antallBarn={'Kari':3, 'Liv':2, 'Per':2, 'Ola':1, 'Jon':0, 'Gro':1, 'Pål':0}

# definerer ein funksjon oversikt med parameter fortegnelse
def oversikt(fortegnelse):

    # for alle verdier i listen av verdier (her: antall barn)
    for antall in sorted(list(set(fortegnelse.values()))):
        # oppretter tom liste for å lagre navn på personer med gitt antall barn
        # listen opprettes på nytt (som å tømme listen) hver iterasjon
        personer = []
        # for kvar person, antall barn, i fortegnelsen
        for person, barn in fortegnelse.items():
            # dersom antall barn er det samme som antallet i den øvre loopen
            if barn == antall:
                # legg til navn i liste
                personer.append(person)
        
        # print ut antall barn:
        print(str(antall), ':', sep='', end=' ')
        # print ut liste med personer, 
        # ikke helt fornøyd med å ha to print setninger her, men ønsker ikke risikere noe nåke man ikke kan kjøre kode
        print(*personer, sep=", ")

oversikt(antallBarn)

0: Jon, Pål
1: Ola, Gro
2: Liv, Per
3: Kari

In [28]:
# definerer en funksjon lagTabell med filnavn som parameter
def lagTabell(filnavn):
    # åpner filen i 'lesemodus' og lagrer i variabelen fil.
    with open(filnavn, 'r') as fil:
        # opprettar ein tom tabell
        tabell = []
        # går igjennom kvar linje i fila
        for linje in fil:
            # .split retunerer ei liste, som eg ynskjer. Denne inneholder verdiene til linja,
            # men kvar komma gir nytt element og utelater komma
            tabell.append(linje.strip().split(','))
    # retunerer tabellen
    return tabell

tabell = lagTabell('nyansatte.txt')

In [32]:
#definerer funksjon skrivTabell som tar inn ein tabell.
def skrivTabell(tabell):
    #liste for å lagre lengde på lengste element per rad
    kolonne_bredde = []
    #siden alle rader er like lange sjekker eg kun første
    antall_elementer_rad = len(tabell[0])

    #for-løkke for å kunne gå igjennom alle elementer på ei rad
    for i in range(antall_elementer_rad):
       #går igjennom kvar rad og finner lengde til kvart element.
       #første runde er i=0 så lengden til første element i kvar rad blir til ny liste.
       #finner max-verdien til den nye lista (altså lengste verdien i kolonna) og legger denne til i kolonne_bredde lista. 
       kolonne_bredde.append(max([len(x[i]) for x in tabell]))

    #itererer igjennom alle rader i tabellen
    for tr in tabell:
        # oppretter ein indeks variabel
        i = 0
        #itererer igjennom alle elementer i raden
        for td in tr:
            #om elementet er det siste i raden
            if i == len(tr)-1:
                #print verdien
                print(td)
            else:
                #print verdien med bredde til lengste verdi på kolonne.
                print(f"{td:<{kolonne_bredde[i]}}", end=" ")
            #øker inteksvariabelen
            i += 1

skrivTabell(tabell)

Kari Personalavdeling    55667788
Ola  Salgsavdeling       55434332
Liv  Produksjonsavdeling 99231415
Jens Salgsavdeling       55887777

In [1]:
s='en to tre fire fem seks sju åtte ni ti'

def f(t,b):
    r=[]
    for o in t.split():
        if o.find(b)>0: r.append(o)
    return r

print(f(s,'t'))

['åtte']

In [2]:
d={1:{'a':1},2:'b',3:{'b':2,'a':1}}

print(d[d[3][d[2]]])

b

In [6]:
karakterer = {
    "ABC": "A",
    "BAC": "B",
    "CBA": "C"
}

nyefag = {
    "CBA" : "A",
    "BAC" : "A"
}

karakterer |= nyefag

print(karakterer)

{'ABC': 'A', 'BAC': 'A', 'CBA': 'A'}

Sorter dict

In [25]:
karakterer = {
    "BAC": "C",
    "ABC": "A",
    "CBA": "B",
    "BAC": "A"
}

print(dict(sorted(karakterer.items(),key=lambda x: (x[1], x[0]))))

{'ABC': 'A', 'BAC': 'A', 'CBA': 'B'}

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [20]:
s='en to tre fire fem seks sju åtte ni ti'
def f(t,b):
    r=[]
    for o in t.split():
        if o.find(b)>0: r.append(o)
    return r

print(f(s,'t'))

['åtte']

In [22]:
liste = [1,2,3,4]

liste.remove(2)
print(liste)

[1, 3, 4]

In [1]:
def funksjon(x):
    if x > 0:
        return x
    

print(funksjon(-1))

None

In [4]:
a = "aced"
b = "acd"

print(a < b)

False